alphalens==0.1.0
appnope==0.1.0
asn1crypto==0.22.0
awscli==1.11.109
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
bintrees==2.0.7
bleach==1.5.0
bokeh==0.12.4
boto3==1.4.4
botocore==1.5.72
bs4==0.0.1
cachetools==2.0.1
cdecimal==2.3
certifi==2017.11.5
cffi==1.10.0
chardet==3.0.4
chest==0.2.3
click==6.6
cloudpickle==0.2.2
colorama==0.3.7
colorlover==0.2.1
configparser==3.5.0
cryptography==1.8.1
cufflinks==0.12.0
cycler==0.10.0
dask==0.13.0
decorator==4.1.2
dill==0.2.7.1
docopt==0.6.2
docutils==0.13.1
entrypoints==0.2.2
enum34==1.1.6
Flask==0.11.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
gapic-google-cloud-datastore-v1==0.15.3
git-remote-helpers==0.1.0
gnureadline==6.3.3
google-auth==1.0.2
google-cloud-core==0.26.0
google-cloud-datastore==1.2.0
google-gax==0.15.14
googleapis-common-protos==1.5.2
grpcio==1.4.0
h5py==2.7.0
HeapDict==1.0.0
html5lib==0.999
httplib2==0.10.3
idna==2.6
inflection==0.3.1
ipaddress==1.0.18
ipdb==0.10.1
ipykernel==4.5.2
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.9.5
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==4.1.1
jupyter-core==4.3.0
Lasagne==0.1
llvmlite==0.19.0
locket==0.2.0
lxml==3.6.4
MarkupSafe==0.23
matplotlib==2.0.2
mistune==0.7.3
mock==2.0.0
monotonic==1.3
more-itertools==3.2.0
MySQL-python==1.2.5
nbconvert==5.1.1
nbformat==4.4.0
ndg-httpsclient==0.3.3
notebook==5.0.0
numba==0.34.0+0.gc1fdcbe.dirty
numexpr==2.6.2
numpy==1.13.3
oauth2client==3.0.0
packaging==16.8
pandas==0.20.3
pandas-datareader==0.2.1
pandocfilters==1.4.1
partd==0.3.7
pathlib2==2.2.1
patsy==0.4.1
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
pipreqs==0.4.9
plotly==2.1.0
ply==3.8
prompt-toolkit==1.0.13
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.4.0
psutil==5.2.2
ptyprocess==0.5.1
pusher==1.7.2
pusherclient==0.3.0
py==1.4.34
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==0.14
pyparsing==2.0.3
pytest==3.1.3
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qgrid==0.3.3
qtconsole==4.2.1
Quandl==3.2.0
requests==2.18.4
requests-file==1.4
robobrowser==0.5.3
rsa==3.4.2
s3transfer==0.1.10
scandir==1.5
scikit-learn==0.17.1
scikit-neuralnetwork==0.7
scipy==0.19.1
seaborn==0.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snakeviz==0.4.2
sortedcontainers==1.5.7
SQLAlchemy==1.1.11
statsmodels==0.8.0
subprocess32==3.2.7
tables==3.4.2
tenacity==4.4.0
tensorflow==1.1.0
terminado==0.6
testpath==0.3
Theano==0.8.2
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.40.0
Werkzeug==0.11.11
widgetsnbextension==2.0.0
xlrd==0.9.4
yarg==0.1.9
